mscenv
images_size
.vscode
.ipynb_checkpoints
*.pth
*.pyc
*.egg-info
SROIE*/
plenv
.neptune
models
*.ttf
vocab.json
vocab.txt
.DS_STORE
IAM/
SVT
FocusedSceneText/
script_ch*
subs/
*.pt
data/IIIT5K/
data/synth
data/other